#artists-section {
    margin-top: 4.8em;
}

#artists-section h3 {
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 2.4rem;
}

.artists-container {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.artist-card {
    border-radius: 4px;
    height: 48.4rem;
    padding: 24px;
}

.artist-card h4 {
    color: var(--white-bg);
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 8px;
}

.artist-card p {
    color: var(--light-gray);
    font-size: 1.4rem;
    font-weight: 500;
}