#collections-section {
    margin-top: 4em;
}

.collections-images {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.collections-text h3 {
    font-size: 2rem;
    font-weight: 500;
    margin: 32px 0 16px 0;
}

.collections-text button {
    padding: .9rem 0;
    width: 100%;
}